<ng-template #popup let-d="dismiss">
  <div class="modal-header border-bottom-0">
    <button class="close" (click)="d(); closePopup()">X</button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" *ngIf="form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" formControlName="name"
                   class="form-control" placeholder="Enter company"/>
            <div class="position-relative" *ngIf="form.get('name').dirty">
              <div class="error-message" *ngIf="form.get('name').hasError('required')">
                <p class="mb-0">Please provide company name</p>
              </div>
              <div class="error-message" *ngIf="!form.get('name').hasError('required')">
                <p class="mb-0" *ngIf="form.get('name').hasError('minlength')">Min. length should be 5</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="description"
                   class="form-control" placeholder="Enter description"/>
            <div class="position-relative" *ngIf="form.get('description').dirty">
              <div class="error-message" *ngIf="form.get('description').hasError('required')">
                <p class="mb-0">Please provide description</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <select formControlName="country" class="form-control">
              <option value="">Select Country</option>
              <option *ngFor="let country of countryList" value={{country.id}}>{{country.name}}</option>
            </select>
            <div class="position-relative" *ngIf="form.get('country').dirty">
              <div class="error-message" *ngIf="form.get('country').hasError('required')">
                <p class="mb-0">Please provide country</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="themeColor"
                   class="form-control" placeholder="Enter theme color"/>
            <div class="position-relative" *ngIf="form.get('themeColor').dirty">
              <div class="error-message" *ngIf="form.get('themeColor').hasError('required')">
                <p class="mb-0">Please provide theme color</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pl-4 pr-4"
                  [disabled]="!form.valid" (click)="addCompanyData(); d(); closePopup()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
