<div class="container-fluid p-4">
  <div class="row">
    <div class="col-md-12">
      <div class="float-right">
        <button class="btn btn-primary btn-sm"
                (click)="showPopup = !showPopup; companyData(null)">Add Company
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let company of companyList">
      <div class="card card-body">
        <p [ngStyle]="{'color': company.themeColor}">
          color
        </p>
        <div class="d-inline-block custom-table" [autoClose]="'outside'" ngbDropdown>
          <button class="btn custom-select" style="width: 20%; float: right; border: none" ngbDropdownToggle>
            ...
          </button>
          <div ngbDropdownMenu>
            <p style="cursor: pointer" (click)="showPopup = !showPopup; companyData(company.id)">Edit</p>
            <p style="cursor: pointer">Delete</p>
          </div>
        </div>
        <h3>{{company.name}}</h3>
        <p>{{company.description}}</p>
        <p>{{company.country}}</p>
        <p>{{company.date}}</p>
      </div>
    </div>
  </div>
</div>

<app-add-company *ngIf="showPopup"
                 (outputOfAddCompany)="updateCompany($event); showPopup = !showPopup"
                 [getCompanyData]="selectedCompany"></app-add-company>
