.red-color {
  color: red;
}

.custom-table {
  .dropdown-toggle::after {
    display: none;
  }
  .custom-select {
    background: #fff;
  }
  .dropdown-menu {
    min-width: 12rem;
  }
  .dropdown-menu.show {
    padding: 10px;
  }
}
